<!--The content below is only a placeholder and can be replaced.-->
<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">Show details</mat-checkbox>

<div *ngIf="showDetails.checked">Some Details..</div>

<br>
<br>
<mat-radio-group value="0">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<br>
<br>
<mat-form-field>
    <mat-select placeholder="Favorite food" [(ngModel)]="food2">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>

<br>
<br>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input #username="ngModel" ngModel name="username" matInput placeholder="Username" value="Sushi" required>
        <mat-hint>Type a unique username</mat-hint>
        <span mat-suffix>@domain.com</span>
        <mat-error *ngIf="username.invalid && username.errors.required">
            The username field is required
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <textarea matInput matTextareaAutosize placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>

<br>
<br>

<mat-form-field>
    <input (focus)="picker.open()" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>

<button class="foo-button mdc-button">Button</button>
<button type="submit" class="crane-button mdc-button mdc-button--raised">Save</button>
<button mat-button mat-raised-button color="accent">Click me!</button>
<button mat-button mat-fab color="warn">Click me!</button>
<i class="material-icons">
  accessibility_new
  </i>

<i class="material-icons">
    android
    </i>

<br>
<br>


<mat-chip-list>
    <mat-chip *ngFor="let category of categories" (click)="selectCategory(category)" [selected]="category.selected">{{ category.name }}</mat-chip>
    <!-- <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip> -->
</mat-chip-list>

<br>
<br>
<mat-progress-spinner *ngIf="isLoading" mode="indeterminate" [value]="progress"></mat-progress-spinner>
<br>
<br>
<button mat-raised-button matTooltip="Info about the action" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" class="example-button">
  Red-tooltip Action
</button>
<br>
<br>
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<br>
<br>
<button mat-raised-button (click)="openDialog()">Pick one</button>

<br>
<br>
<h1 id="name">Aditya</h1>
<h2 id="surname">Tyagi</h2>
<br>
<br>
<button mat-button mat-raised-button color="accent">Click me!</button>
<button mat-button mat-fab color="primary">Click me!</button>